:root {
    --small-output-width: 50px;
}
@font-face {
    font-family: 'SevenSEG';
    src:
         url('../fonts/DSEG7Classic-Regular.woff') format('woff'),
         url('../fonts/DSEG7Classic-Regular.ttf')  format('truetype');
}
body {
    overflow: hidden;
}
#help {
    display: inline-block;
    height: calc(100% - 25px);
    background-color: lightblue;
    width: 400px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: 10px;
    position: relative;
    top: -475px;
}
#help h1 {
    text-align: center;
}
#app {
    display: inline-block;
    height: 100%;
    width: calc(100% - 444px);
}
#calc-wrapper {
    height: 100%;
    max-width: 702px;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
}
#output {
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
}
#output table {
    width: 100%;
}
#output table tbody tr td:nth-child(1) {
    width: calc(100% - var(--small-output-width));
    font-family: Consolas;
    text-align: right;
}
#output table tbody tr td:nth-child(2) {
    width: calc(var(--small-output-width) - 10px);
    font-family: Consolas;
    text-align: right;
}
input {
    width: 100%;
    text-align: right;
    font-family: SevenSEG;
    font-size: 64px;
}
.blue {
    color: blue;
}
.red {
    color: red;
}
.begin td {
    padding-top: 16px;
}
.end td {
    padding-bottom: 16px;
}